/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2016, 4:58:23 PM
    Author     : juraj
    http://www.mkyong.com/jsf2/jsf-2-datatable-example/
*/

.order-table{   
	border-collapse:collapse;
}

.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.order-table-centered-column{
	text-align:center;
        background:none repeat scroll 0 0 #F9F9F9;
        border-top:1px solid #BBBBBB;
}

.order-table-left-centered-column{
	text-align:left;
        background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}

.order-table-right-centered-column{
	text-align:right;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}

.ui-diagram-element {   
    //width:10em; 
    height:18px;     
    line-height:18px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #98AFC7;
    color: #ffffff;
    word-break: break-all;
    line-break: strict;
    }
 
.ui-diagram-success {
    background-color: #9CB071;
    color: #ffffff;
    border-color: #7ab02c;
}
 
.flow-label {
    font-size: 16px;
    font-weight: bold;
    color: #816A51;
    word-break: break-all;
    line-break: strict;
}